{% extends "layout.html" %}

{% block content %}
    <div>
        <h1><strong>{{ article.title }}</strong></h1>
        <small>Published on {{ article.created_on }}</small>
        <h5>Created by <strong>{{ article.user.name }}</strong></h5>
        <hr>
        <img src="{{ article.photo.url }}">
        <hr>
        <p>Ingredients: {% for ingredient in article.ingredients.all %} <a href="{{ ingredient.get_absolute_url }}"> {{ ingredient.name }}</a> {% endfor %}</p>
        Description: <div class="description"> {{ article.description }} </div>
        
    </div>
{% endblock content %}