body {
    background-color: #171717;
    color: aliceblue
}
 .blockcontent{
    background-color: #171717;
    padding: 100px;
    font-family: 'Ubuntu', sans-serif;
 }

 .description{
     word-wrap: break-word;
 }